@model DepartmentViewModel
@{
    ViewData["Title"] = "Details";
}

<h1 class="text-black-50">Details Department</h1>

<partial name="PartialViewDepartment/DetailsDeleteDepartmentPartialView" />
       
        <a asp-action="Index" class="btn btn-light">Back To List</a>
